                            <div class="footer-copyright">
                              Copyright © {{ site.time | date: '%Y' }} Richland Borough designed and maintained by Wade Mauger
                              <br />
                              <br />
                              All Rights Reserved
                              <br />
                              <br />
                              Banner photo compliments of Brian Saul of Brian's Model Trains of Myerstown.
                            </div>