<div id="sidebar">
		<div id="navigation">
				<ul>
					{% assign pages = site.pages | sort:"weight"  %}
					{% for p in pages %}
						{% if p.active == true%}
						<li {% if p.url == page.url %}class="active"{% endif %} >
							<a href="{{site.url}}{{site.baseurl}}{{ p.url }}"> → {{ p.title }}</a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
		</div><!--close id navigation-->

    <p>
        <span>Richland Borough</span><br/>
        5 Pine Street <br/>
        P.O. Box 676 <br/>
        Richland, PA 17087 <br/><br/>
        Email: <span style="font-size:9pt">richlandborough@comcast.net</span><br/><br/>
        Phone: 717-866-5601 <br/>
        Fax: 717-866-9418 <br/><br/>
        <span>Office Hours:</span><br/>Mon-Fri 9AM-12PM
    </p>

    <div id="weather_spacer"></div>
    <script
            type="text/javascript"
            src="http://voap.weather.com/weather/oap/17087?template=OTDRV&par=3000000007&unit=0&key=twciweaterwidget"
            id="weather_widget">
    </script>
</div><!--close id sidebar-->
