<div id="sidebar">
    <div id="nav">
        <a href="index.html">
            <div class="nav_item" id="nav_home"></div>
        </a>

        <a href="contact_us.html">
            <div class="nav_item" id="nav_contactus"></div>
        </a>

        <a href="events.html">
            <div class="nav_item" id="nav_events"></div>
        </a>

        <a href="right_to_know.html">
            <div class="nav_item" id="nav_righttoknow"></div>
        </a>

        <a href="history.html">
            <div class="nav_item" id="nav_history"></div>
        </a>

        <a href="in_the_community.html">
            <div class="nav_item" id="nav_inthecommunity"></div>
        </a>

        <a href="fire_company.html">
            <div class="nav_item" id="nav_firecompany"></div>
        </a>

        <a href="polar_bear_plunge.html">
            <div class="nav_item" id="nav_polarbearplunge"></div>
        </a>

        <a href="appointed_officials.html">
            <div class="nav_item" id="nav_appointedofficials"></div>
        </a>

        <a href="meeting_minuites.html">
            <div class="nav_item" id="nav_meetingminuites"></div>
        </a>

        <a href="ordinances.html">
            <div class="nav_item" id="nav_ordinances"></div>
        </a>

        <a href="water_company.html">
            <div class="nav_item" id="nav_watercompany"></div>
        </a>

        <a href="services.html">
            <div class="nav_item" id="nav_services"></div>
        </a>

        <a href="refuse.html">
            <div class="nav_item" id="nav_refuse"></div>
        </a>

        <a href="finances.html">
            <div class="nav_item" id="nav_finances"></div>
        </a>

    </div> <!--close div nav-->

    <p>
        <span>Richland Borough</span><br/>
        5 Pine Street <br/>
        P.O. Box 676 <br/>
        Richland, PA 17087 <br/><br/>
        Email: <span style="font-size:9pt">richlandborough@comcast.net</span><br/><br/>
        Phone: 717-866-5601 <br/>
        Fax: 717-866-9418 <br/><br/>
        <span>Office Hours:</span><br/>Mon-Fri 9AM-12PM
    </p>

    <div id="weather_spacer"></div>
    <script
            type="text/javascript"
            src="http://voap.weather.com/weather/oap/17087?template=OTDRV&par=3000000007&unit=0&key=twciweaterwidget"
            id="weather_widget">
    </script>
</div><!--close id sidebar-->
