.markdown {
  padding: 30px;

  img {
    border-style: solid;
    border-width: 3px;
    border-color: #d7af39;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

	table {
	}

  h1 {
    font-size: 24pt;
  }

	td {
	}

  p{
    margin: 12px;
    font-size: 20px;
    line-height: 35px;
    padding-left: 238px;
  }

  h6 {
    font-size: 15px;
    text-align: center;
    display: block;
  }

}

.content {
  overflow: auto;
}

#navigation ul {
  padding-left: 20px;
	font-weight: bold;
	list-style-type: none;
	li {
		padding-bottom: 10px;
	}
	a {
		text-decoration: none;
		color: #581845;
		&:hover {
		  color: #C70039;
		}
	}
	li.active a{
		color: #C70039;
	}
}

.slideshow {
	margin-top: 200px;
}

.fire {
  margin-top:40px!important;
}

.bxslider{
  padding: 0px!important;
}

#minutes_table {
  margin: auto;
  margin-top: 40px; 
  width: 400px;
  border-style: solid;
  border-width: 3px;
  border-color: #d7af39;
  
  a {
    font-size: 15pt;
  }

  tr {
    height: 40px;
    text-align: center;
  }

  .odd {
    background-color: #325272;
  }

}

#our_community_content {
  img{
		height: 160px;
		width: 160px;
		display: block;
    position: relative;
    float: left;
    margin: 17px;
    border-style: solid;
    border-width: 3px;
    border-color: #d7af39;
  }

	table {
		margin-left: 200px;
	}
}
